<nav>
  <img src='../../../assets/icons/icon_menu.svg' alt="menu" class="mobile--menu" />
  <div class="navbar-left">
    <a [routerLink]="['/']">
      <img class="nav-logo" src="../../assets/logos/logo_yard_sale.svg" alt="" />
    </a>
    <ul>
      <li *ngFor="let category of categories">
        <a class="navbar-category" [routerLink]="[category.path]">
          {{ category.label }}
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-right">
    <p class="navbar-email">Example@gmail.com</p>
    <div (click)="ordersService.orderModalToggle()" class="navbar-shopping-cart">
      <div class="navbar-shopping-cart--counter">{{shoppingCartCounter()}}</div>
      <img src="../../assets/icons/icon_shopping_cart.svg" alt="icon_shopping_cart">
    </div>
  </div>
</nav>
